[include shell_command.cfg]
[include macros.cfg]
[include mainsail.cfg]
[include options/lcd/*.cfg]
[include options/probe/cartographer.cfg]
[include shell_command.cfg]
[include RGB_LEDs.cfg]
[include ./KAMP_Lite/*.cfg]
[include ./Demon_Klipper_Essentials_Unified/*.cfg]
[include ./Demon_User_Files/*.cfg]
[include ./Demon_Klipper_Essentials_Unified/Other_Files/Demon_User_Files_Updater/Extract_Demon_User_Files_Sovol.cfg]
[include sp_mmu.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_36FFD805334D413227511351-if00
restart_method: command     

[mcu extra_mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_37FF73063042413836340643-if00
restart_method: command      

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy           
max_velocity: 700            
max_accel: 15000            
minimum_cruise_ratio: 0.5
max_z_velocity: 20           
max_z_accel: 500             
square_corner_velocity: 5.0 

[extruder]
step_pin: extra_mcu:PA8   
dir_pin: !extra_mcu:PB8    
enable_pin:!extra_mcu: PB11   
rotation_distance: 4.7713
microsteps: 64 #16               
full_steps_per_rotation: 200 
nozzle_diameter: 0.400        
filament_diameter: 1.75  
max_extrude_only_distance: 1000     
max_extrude_only_velocity: 130
max_extrude_only_accel: 3000
max_extrude_cross_section: 5
heater_pin:extra_mcu:PB9  
sensor_type:my_thermistor_e  
pullup_resistor: 11500
sensor_pin: extra_mcu:PA5  
min_temp: 5                  
max_temp: 310                 
max_power: 1.0                
min_extrude_temp: 5
#control : pid
#pid_kp : 33.838
#pid_ki : 5.223
#pid_kd : 47.752
pressure_advance: 0.025       
pressure_advance_smooth_time: 0.035    

[tmc2209 extruder]
uart_pin: extra_mcu:PB10  
interpolate: False #True      
run_current: 1.0          
#hold_current: 0.75             
uart_address:3
sense_resistor: 0.150      
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 7
driver_HEND: 8

[verify_heater extruder]      
max_error: 120                
check_gain_time:30           
hysteresis: 5                
heating_gain: 2               

[stepper_x]
step_pin: PE2
dir_pin: !PE0
enable_pin: !PE3
rotation_distance: 40         
microsteps: 64                
full_steps_per_rotation:200   
endstop_pin: ^extra_mcu:PB6    #tmc2209_stepper_x: virtual_endstop                   
position_min: 0               
position_endstop: 355         
position_max: 355             
homing_speed: 50              
homing_retract_dist: 0        
homing_positive_dir: True

# [tmc2209 stepper_x]
# uart_pin: PE1
# interpolate: True             
# run_current: 1.1              
# #hold_current: 1.2             
# sense_resistor: 0.150         
# stealthchop_threshold: 0      
# uart_address:3
# driver_sgthrs: 70
# diag_pin: PE15

[tmc2209 stepper_x]
uart_pin: PE1
interpolate: False #True             
run_current: 1.061 #1.5
#hold_current: 1.061 #1.5            
sense_resistor: 0.150         
#stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 75 #65
diag_pin: PE15
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 7
driver_HEND: 5


[stepper_y]
step_pin: PB8
dir_pin: !PB6
enable_pin: !PB9
rotation_distance: 40         
microsteps: 64                
full_steps_per_rotation:200   
endstop_pin: tmc2209_stepper_y: virtual_endstop              
position_min: 0               
position_endstop: 364         
position_max: 364            
homing_speed: 30              
homing_retract_dist: 0        
homing_positive_dir: True

# [tmc2209 stepper_y]
# uart_pin: PB7
# interpolate: True             
# run_current: 1.1              
# #hold_current: 1.2             
# sense_resistor: 0.150         
# stealthchop_threshold: 0      
# uart_address:3
# driver_sgthrs: 70
# diag_pin: PE13 

[tmc2209 stepper_y]
uart_pin: PB7
interpolate: False #True             
run_current: 1.061 #1.5
#hold_current: 1.061 #1.5             
sense_resistor: 0.150         
#stealthchop_threshold: 0      
uart_address:3
driver_sgthrs: 85 #75 #65
diag_pin: PE13
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 7
driver_HEND: 5

[stepper_z] #motherboard：Z3 
step_pin:PC0    
dir_pin:PE5    
enable_pin:!PC1    
rotation_distance: 40       
gear_ratio: 80:12             
microsteps: 16                
endstop_pin: probe:z_virtual_endstop           
position_max: 347             
position_min: -5              
#position_endstop: 0
homing_speed: 15.0
homing_retract_dist: 0
homing_retract_speed: 15.0
second_homing_speed: 10.0
[stepper_z] #motherboard：Z3 
step_pin:PC0    
dir_pin:PE5    
enable_pin:!PC1    
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 64 #16
endstop_pin: probe:z_virtual_endstop           
position_max: 347             
position_min: -5              
#position_endstop: 0
homing_speed: 15.0
homing_retract_dist: 5.0
homing_retract_speed: 15.0
second_homing_speed: 10.0

[tmc2209 stepper_z]
uart_pin: PE6 
interpolate: false #true             
run_current: 0.566 #0.58          
#hold_current: 0.566 #0.58         
sense_resistor: 0.150       
stealthchop_threshold: 999999 
uart_address:3
#driver_TBL: 1
#driver_TOFF: 3
#driver_HSTRT: 0
#driver_HEND: 2

[stepper_z1] ##motherboard：Z1
step_pin:PD3  
dir_pin:!PD1 
enable_pin:!PD4 
rotation_distance: 40         
gear_ratio: 80:12            
microsteps: 64 #16        

[tmc2209 stepper_z1]
uart_pin:PD2  
interpolate: false #true             
run_current: 0.566 #0.58          
#hold_current: 0.566 #0.58         
sense_resistor: 0.150  
stealthchop_threshold: 999999 
uart_address:3
#driver_TBL: 1
#driver_TOFF: 3
#driver_HSTRT: 0
#driver_HEND: 2

[stepper_z2] ##motherboard：Z2
step_pin:PD7
dir_pin:PD5   
enable_pin:!PB5
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 64 #16          

[tmc2209 stepper_z2]
uart_pin:PD6  
interpolate: false #true             
run_current: 0.566 #0.58          
#hold_current: 0.566 #0.58         
sense_resistor: 0.150   
stealthchop_threshold: 999999 
uart_address:3
#driver_TBL: 1
#driver_TOFF: 3
#driver_HSTRT: 0
#driver_HEND: 2

[stepper_z3] ##motherboard：Z4
step_pin:PD11 
dir_pin:!PD9 
enable_pin:!PD12   
rotation_distance: 40         
gear_ratio: 80:12             
microsteps: 64 #16

[tmc2209 stepper_z3]
uart_pin:PD10    
interpolate: false #true             
run_current: 0.566 #0.58          
#hold_current: 0.566 #0.58         
sense_resistor: 0.150
stealthchop_threshold: 999999 
uart_address:3
#driver_TBL: 1
#driver_TOFF: 3
#driver_HSTRT: 0
#driver_HEND: 2

[thermistor my_thermistor_e]
temperature1:25
resistance1:110000
temperature2:100
resistance2:7008
temperature3:220
resistance3:435

# [filament_switch_sensor filament_sensor]
# pause_on_runout: True
# event_delay: 3.0
# pause_delay: 0.5
# switch_pin: ^extra_mcu:PB7

[thermistor my_thermistor]
temperature1:25
resistance1:100000
temperature2:50
resistance2:18085.4
temperature3:100
resistance3:5362.6

[heater_bed]
heater_pin:PA0
sensor_type: my_thermistor  
sensor_pin: PC5
max_power: 1.0               
min_temp: 5                  
max_temp: 110                
#control : pid
#pid_kp : 73.571
#pid_ki : 1.820
#pid_kd : 783.849

[verify_heater heater_bed]      
max_error: 120                
check_gain_time: 125           
hysteresis: 5                
heating_gain: 2 

[probe_pressure]
pin: ^!PE12     
x_offset: 0                  
y_offset: 0
z_offset : 0
speed: 1.0

[quad_gantry_level]
gantry_corners:
    -60,-10
    410,420
points:
    25,5
    25,300
    325,300
    325,5
speed: 300 #400 MOD slower speed for accuracy
horizontal_move_z: 10
retry_tolerance: 0.0075 # cartographer
retries: 7 # cartographer
max_adjust: 10 # cartographer

# [quad_gantry_level]
# gantry_corners:              
# 	-60,-10
# 	410,420
# points:
# 	36,10
# 	36,320
# 	346,320
# 	346,10
# speed: 250                   
# horizontal_move_z: 5       
# retry_tolerance: 0.01      
# retries: 5                  
# max_adjust: 10   

[fan]
pin: extra_mcu:PB1
max_power: 1.0
shutdown_speed: 0
kick_start_time: 0.5
off_below: 0.10

[controller_fan extra_controller_fan]
pin: extra_mcu:PA7 
fan_speed: 1
idle_speed: 0
heater: extruder

# [fan_generic exhaust_fan] # exhaust fan
# pin: PA2
# max_power: 1.0

[controller_fan MCU_fan]
pin: PA7
max_power: 1
kick_start_time: 0.5
fan_speed: 1
idle_timeout: 300
heater: extruder, heater_bed
stepper: stepper_x, stepper_y

[heater_fan hotend_fan]      
pin: extra_mcu:PA6   
max_power: 1.0               
kick_start_time: 0.5         
heater: extruder             
heater_temp: 50              
tachometer_pin:extra_mcu:PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013

[gcode_arcs]                       
resolution: 1.0                    

[output_pin Printer_Lights]
pin:PA3
pwm: 1
value:1
cycle_time: 0.01
shutdown_value: 0

[idle_timeout]
gcode: _DEMON_IDLE_TIMEOUT
timeout: 3600

[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp:0
max_temp:100

[temperature_sensor Host_temp]     
sensor_type: temperature_host
min_temp: 0
max_temp: 110

[temperature_sensor Toolhead_Temp]
sensor_type: temperature_mcu
sensor_mcu: extra_mcu

[pause_resume]

[exclude_object]

[adxl345]
cs_pin: scanner:PA3
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
   175, 175, 20  # an example175 Y175 Z30
accel_per_hz:50
min_freq:1
max_freq:100
max_smoothing:0.2
hz_per_sec:0.5

[input_shaper]
damping_ratio_x: 0.001
damping_ratio_y: 0.001
#shaper_type_x = mzv
#shaper_freq_x = 35
#shaper_type_y = mzv
#shaper_freq_y = 35

[save_variables]
filename = ~/demon_vars.cfg

[force_move]
enable_force_move: True

[respond]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [scanner]
#*# mode = touch
#*# scanner_touch_threshold = 2000
#*# scanner_touch_speed = 3
#*# scanner_touch_z_offset = 0.070
#*#
#*# [scanner model default]
#*# model_coef = 1.4878734048499065,
#*# 	1.8032027914128836,
#*# 	0.7822318362957724,
#*# 	0.4579426056272936,
#*# 	0.3499904391182519,
#*# 	0.12822079120755622,
#*# 	-0.23121379525197117,
#*# 	-0.06511832485893262,
#*# 	0.2614428071007399,
#*# 	0.12694930829638215
#*# model_domain = 3.188067328334455e-07,3.308656242641999e-07
#*# model_range = 0.200000,5.100000
#*# model_temp = 43.696938
#*# model_offset = 0.00000
#*# model_mode = touch
#*# model_fw_version = CARTOGRAPHER 5.1.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 30.555
#*# pid_ki = 2.996
#*# pid_kd = 77.915
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 65.002
#*# pid_ki = 0.985
#*# pid_kd = 1072.537
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 52.6
#*# shaper_type_y = mzv
#*# shaper_freq_y = 41.2
